<!doctype html>
<html lang="pt-br">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="css/styles.css">

        <title>dalfre soluções</title>

    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand w-25" href="#">
                        <img src="img/logo-dalfre.png" class="img-fluid">
                    </a>  
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>                  
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav ml-auto ">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sobre.html">sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="solucoes.html">soluções</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="blog.html">blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contato.html">contato</a>
                            </li>
                        </ul>
                    </div>
                </div>            
            </nav>
        </header>

        <section>
            <div class="jumbotron rounded-0 mb-0">
                <div class="container">
                    <h2 class="text-center mb-5">contato</h2>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Nome</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">E-mail</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Endereço</label>
                            <input type="text" class="form-control" id="inputAddress">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="inputCity">Cidade</label>
                            <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="inputState">Estado</label>
                            <select id="inputState" class="form-control">
                                <option selected>Selecione.</option>
                                <option>PR</option>
                                <option>SC</option>
                                <option>RS</option>
                            </select>
                            </div>
                            <div class="form-group col-md-2">
                            <label for="inputZip">CEP</label>
                            <input type="text" class="form-control" id="inputZip">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer text-center py-4 bg-dark text-white">
                &copy; dalfre soluções
            </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>